#app2 {
  border: solid 1px yellow;
}
#app2 > .tab-bar {
  display: flex;
}
#app2 > .tab-bar > li {
  border: solid 2px red;
  width: 25%;
}

#app2 > .tab-content > li {
  display: none;
}

#app2 > .tab-content > li.active {
  display: block;
}
#app2 > .tab-bar > .selected {
  background: pink;
}
